main
    .header-wrapper
        h1 Монтаж дымоходов
    .main__menu 
    .article-wrapper
       article.main__about В #[span.article-span Дымоход.ру] вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящем из трёх бригад, работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
    .header2-wrapper
                h2.why__we__header Lorem ipsum dolor sit amet #[span.header-span Lorem ipsum]
    .article-wrapper
        article.main__why__we
            .list-wrapper 
                ul.why__we__list 
                    li.why__we__list__item Доступные цены
                    li.why__we__list__item Собственное производство дымоходов
                    li.why__we__list__item Выполнение необходимых работ, связанных с установкой камина, печи, котла
                    li.why__we__list__item Гарантия (от трёх до десяти лет)
                    li.why__we__list__item Работаем чисто, аккуратно, убираем за собой, не сквернословим
                    li.why__we__list__item Только русские квалифицированные специалисты
                    li.why__we__list__item Устанавливаем любые дымоходы всех производителей
            
